


<center>
	<h2> Details</h2> 
	
	<table>
		<tr><td>Name  </td><td>:</td><td> <%= @t.fname %></td></tr>
		<tr><td>Account Balance  </td><td>:</td><td><%= @t.lname %></td>
		<tr><td>Email   </td><td>:</td><td> <%= @t.email %></td></tr>
		<tr><td>Phone </td><td>:</td><td> <%= @t.phno %></td></tr>
		<tr><td>Branch </td><td>:</td><td> <%= @t.branch %></td></tr>
		<tr><td>Address </td><td>:</td><td><%= @t.address %></td></tr>
	</table>
		<p style="background-color: white ; width: 100px;"><%= link_to "Back", list_test_index_path %> </p>

</center>
